@using VPM.Models
@model Project
@Html.DisplayNameFor(model => model.Title)
<h4>Project</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Title)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Title)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Description)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Description)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CreateDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CreateDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.EndDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.EndDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.DeliveryDate)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.DeliveryDate)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Customer)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Customer.Name)
    </dd>

</dl>
<h4>Associated tasks</h4>
<hr />
<div>
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Task.FirstOrDefault().Title)</th>
                <th>@Html.DisplayNameFor(model => model.Task.FirstOrDefault().Description)</th>
                <th>@Html.DisplayNameFor(model => model.Task.FirstOrDefault().CreateDate)</th>
                <th>@Html.DisplayNameFor(model => model.Task.FirstOrDefault().BillableTime)</th>
                <th>@Html.DisplayNameFor(model => model.Task.FirstOrDefault().TaskCost)</th>
            </tr>
        </thead>
        @foreach (VPM.Models.Task task in Model.Task)
        {
            <tbody>
                <tr>
                    <td>@task.Title</td>
                    <td>@task.Description</td>
                    <td>@task.CreateDate</td>
                    <td>@task.BillableTime?.ToString("HH:mm")</td>
                    <td>@task.TaskCost</td>
                </tr>
            </tbody>
        }
    </table>
</div>
<h4>Costs</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TotalBillableTime)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TotalBillableTime)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.TotalProjectCost)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.TotalProjectCost)
    </dd>
</dl>

</div>
<div>